/* Color Theme Swatches in Hex */ 
.Logo-Designs-1-hex { 
  color: #A4A5A6; 
} 
.Logo-Designs-2-hex { 
  color: #BFBFBF; 
} 
.Logo-Designs-3-hex { 
  color: #F2F2F2; 
} 
.Logo-Designs-4-hex { 
  color: #404040; 
} 
.Logo-Designs-5-hex { color: #0D0D0D; }  
